---
- name: Include tasks for specific OS
  include: '{{ ansible_os_family }}.yml'

- name: Configure the JumpServer firewall
  include: 'firewall.yml'

- name: Create the Python virtual environment
  pip:
    name: '{{ item }}'
    state: 'forcereinstall'
    virtualenv_command: '/bin/virtualenv-3'
    virtualenv_python: '/bin/python3'
    virtualenv: '{{ jumpserver_env }}'
    extra_args: -i https://mirrors.aliyun.com/pypi/simple/
  loop:
    - 'pip'
    - 'setuptools'
  register: jms_python_update
  until: jms_python_update is succeeded
  retries: 3
  delay: 5

- name: Core operation
  include: 'jumpserver.yml'

- name: Luna operation
  include: 'luna.yml'

- name: Guacamole operation
  include: 'guacamole.yml'

- name: Coco operation
  include: 'coco.yml'
