---
- name: Include OS-specific variables
  include_vars: '{{ ansible_os_family }}.yml'

- name: Add EPEL YUM repositories
  yum_repository:
    name: '{{ epel_repo_name }}'
    description: '{{ epel_repo_name }} YUM repo'
    file: '{{ epel_repo_name }}'
    baseurl: '{{ epel_repo_url }}'
    gpgcheck: 'no'
    timeout: '60'

- name: Add rpmfusion YUM repositories
  yum_repository:
    name: '{{ rpmfusion_repo_name }}'
    description: '{{ rpmfusion_repo_name }} YUM repo'
    file: '{{ rpmfusion_repo_name }}'
    baseurl: '{{ rpmfusion_repo_url }}'
    gpgcheck: 'no'
    timeout: '60'

- name: Install the JumpServer dependent packages
  yum:
    name: '{{ ",".join(vars["jumpserver_dependent_packages"]) }}'
    state: 'present'
    validate_certs: 'no'
    disable_gpg_check: 'yes'
    update_cache: 'yes'
  when: not jumpserver_mysql_dept | bool
  register: yum_status
  until: yum_status is succeeded
  retries: 3
  delay: 5

- name: Install the JumpServer dependent packages
  yum:
    name: '{{ ",".join(vars["jumpserver_dependent_packages"]) }}'
    state: 'present'
    disablerepo: 'percona'
    validate_certs: 'no'
    disable_gpg_check: 'yes'
    update_cache: 'yes'
  when: jumpserver_mysql_dept | bool
  register: yum_status
  until: yum_status is succeeded
  retries: 3
  delay: 5