[Unit]
Description=coco
After=network.target jms.service

[Service]
Type=forking
PIDFile={{ jumpserver_path }}/coco-{{ jumpserver_version }}/coco.pid
Environment="PATH={{ jumpserver_env }}/bin"
ExecStart={{ jumpserver_path }}/coco-{{ jumpserver_version }}/cocod start -d
ExecReload=
ExecStop={{ jumpserver_path }}/coco-{{ jumpserver_version }}/cocod stop
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
